@charset "utf-8";
*{margin:0;padding:0;word-wrap:break-word;word-break:break-all;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{font:12px "Microsoft YaHei", arial, sans-serif,'DejaVu Sans','Lucida Grande',Tahoma,'Hiragino Sans GB',STHeiti,SimSun,sans-serif;position: relative;max-width: 640px;margin: 0 auto;}
html, body, h1, h2, h3, h4,input,div,ul,li,p,form,table,dt,dl,dd,tr{list-style-type:none;margin: 0;padding: 0;}
html,body{width: 100%;height: 100%;}
table,table tr,table tr td{border-color:#E5E5E5; border-collapse:collapse;}
a{text-decoration:none; cursor:pointer;}
a img{border:none;} 
em{font-style:normal;font-weight:normal;}
i{font-style: normal;}
.clearfix{clear:both; overflow:hidden;}
.clear{clear:both; width:0; height:0; line-height:0; overflow:hidden;}
.show{ display:block;visibility:visible;}  
.hide{ display:none; visibility:hidden;}
input:focus{outline: none;border: 0;}
input[type='text'] {display: inline-block;padding: 0;margin-bottom: 0;height: auto;vertical-align: middle;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: none;-moz-box-shadow:none;box-shadow:none;}
/*INPUT[type='text']:focus {border: none;outline: 0;outline:none;-webkit-box-shadow: none;-moz-box-shadow:none;box-shadow:none;}*/
input{box-shadow: none; -webkit-box-shadow: none; outline: none; font-family: Arial, "Microsoft Yahei";-moz-appearance: none; -o-appearance: none; appearance: none;}
select{font-family: Arial, "Microsoft Yahei"; box-shadow: none; -webkit-box-shadow: none;-moz-appearance: none; -o-appearance: none; appearance: none;}
a:focus{outline: none;}
a:hover{text-decoration: none;}
a:link{text-decoration: none;}
ul li{padding: 0;margin: 0;list-style-type: none;}
ul,ol,li{margin: 0;padding: 0;}
body{width: 100%;max-width: 640px;margin: 0 auto;position: relative;background: #fff;}
/*
	nav
*/
.page {
	width: 93.75%;
	margin: 0 auto;
}

.mynav {
	width: 100%;
	margin: 0 auto;
	padding-top: 0.8rem;
	margin-bottom: 0.5rem;
	background: #fff;
}

.mynav ul {
	width: 93%;
	margin: 0 auto;
}

.mynav ul li {
	width: 23%;
	float: left;
	margin: 0 1%;
}

.mynav ul li img {
	display: block;
	margin: 0 auto;
	width: 45%;
}

.mynav ul li p {
	font-size: 1.4rem;
	color: #404040;
	text-align: center;
	margin: 0.5rem 0;
}

.gary {
	height: 0.5rem;
	background: #E8E8E8;
	width: 100%;
}