@charset "utf-8";
body {
	background: #e8e8e8;
}

.mynav {
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

.swiper-container {
	width: 100%;
	height: 26.23%;
}

.swiper-container .swiper-wrapper .swiper-slide img {
	width: 100%;
	height: 100%;
}

.time-page {
	width: 91%;
	margin: 0 auto;
}

.time-page .time-title {
	text-align: center;
	font-size: 1.6rem;
	margin-top: 1.49%;
	margin-bottom: 2.24%;
	font-weight: bold;
	color: #404040;
}

.time-page ul li {
	width: 100%;
	font-size: 1.4rem;
	color: #404040;
	margin-top: 1.49%;
}

.time-page ul li span {
	display: block;
	float: left;
	height: 3rem;
}

.time-page ul li img {
	margin-right: 0.8%;
	display: block;
	float: left;
	width: 1.4rem;
	height: 1.4rem;
	margin-top: 0.3rem;
}

.choosetime {
	text-align: center;
	font-size: 1.6rem;
	color: #404040;
	line-height: 1.5;
	border-top: 1px solid #e8e8e8;
}

.choosetime span {
	font-weight: bold;
}

.btn {
	font-size: 1.6rem;
	color: #fff;
	background: #027ac8;
	height: 4.35%;
	margin-top: 3.24%;
}

.btn:hover {
	color: #fff;
}