@charset "utf-8";
.mine-con{
	width: 91%;
	margin: 0 auto;
}
.mine-con .mine-con-title{
	text-align: center;
	color: #404040;
	font-size: 1.8rem;
	line-height: 1.4;
	margin-top: 0.2rem;
}
.mine-con .mine-con-sm{
	color: #666;
	font-size: 1.3rem;
	line-height: 1.8;
}
.mine-list{
	margin: 0 auto;
}
.mine-list .list-title{
	color: #4c4c4c;
	font-size: 1.6rem;
	margin-left: 1.3rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.mine-list ul{
	width: 95%;
	margin: 0 auto;
}
.mine-list ul li{
	width: 33.33%;
	float: left;
	text-align: center;
}
.mine-list ul li img{
	width: 90%;
}
.mine-list ul li p{
	color: #666;
	font-size: 1.1rem;
	margin: 0.3rem 0;
}
.mine-list .more{
	text-align: center;
	font-size: 1.3rem;
	color: #999;
	margin-bottom: 0.5rem;
	border-top: 1px solid #e8e8e8;
	margin-top: 0.8rem;
	padding-top: 0.5rem;
}
.mine-list .more img{
	width: 3%;
	margin-left: 0.3rem;
}
